.services {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--col-width-small), var(--col-width-medium))
  );
  gap: var(--spacer);
  justify-content: center;
}

.box {
  padding: calc(var(--spacer) / 2);
  transition: all ease 0.2s;
}

.box h3 {
  margin: 0;
}

.box:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow-hover);
}

@media screen and (min-width: 40rem) {
  .services {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--col-width-small), var(--col-width-large))
    );
  }
}
