.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
  gap: var(--spacer);
  justify-content: center;
}

.box {
  padding: calc(var(--spacer) * 2) var(--spacer);
  transition: all ease 0.2s;
}

.box h3 {
  margin: 0;
}

.box:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow-hover);
}
