.container {
  margin-top: calc(var(--spacer) * 2);
}

.title {
  width: 100%;
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
  gap: var(--spacer);
  justify-content: center;
}

.box h3 {
  margin: 0;
}

@media screen and (min-width: 30rem) {
  .title {
    text-align: start;
  }
}
