.categories {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--col-width-small), var(--col-width-medium))
  );
  gap: var(--spacer);
  justify-content: center;
}

.box h3 {
  margin: 0;
}

.box {
  transition: all ease 0.2s;
}

.box:hover {
  transform: translateY(-3px);
  box-shadow: var(--box-shadow-hover);
}
