.row {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  margin-bottom: calc(var(--spacer) / 2);
}

.row > div {
  margin-bottom: calc(var(--spacer) / 2);
}

@media (min-width: 640px) {
  .row {
    flex-direction: row;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
}
