.button {
  display: block;
  margin: calc(var(--spacer) / 2) auto;
  padding: calc(var(--spacer) / 3) var(--spacer);
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-root);
}

.button.disabled {
  opacity: 0.6;
}

.button.disabled:hover {
  transform: none;
  box-shadow: 5px 5px 0 0 var(--color-cyan);
}

.primary {
  position: relative;
  background: var(--color-blue);
  box-shadow: 5px 5px 0 0 var(--color-cyan);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  transition: all 0.2s;
}

.primary:hover,
.primary:focus,
.primary:active {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0 0 var(--color-cyan);
}
